{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JobSite{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
  <div class="wrapper">
    <!-- Шапка сайта -->
    <header class="header">
      <div class="header__inner">
        <nav class="nav">
          <div class="menu">
              <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
              <label for="burger-checkbox" class="burger"></label>
              <ul class="menu-list">
                <li><a href="/test/" class="menu-item">Главная</a></li>
                <li><a href="/test/vacancies" class="menu-item">Вакансии</a></li>
                <li><a href="/test/contact" class="menu-item">Контакты</a></li>
                <li><a href="/test/add" class="menu-item">Создание вакансии</a></li>
              </ul>
          </div>
          <ul class="nav-links">
              <li><a href="/test/">Главная</a></li>
              <li><a href="/test/vacancies">Вакансии</a></li>
              <li><a href="/test/contact">Контакты</a></li>
              <li><a href="/test/add">Создание вакансии</a></li>
          </ul>
        </nav>
          <div class="header__btns">
              {% if user.is_authenticated %}
                  <span class="user-email">
                      {% if user.is_employer %}Соискатель{% else %}Работодатель{% endif %} - {{ user.email }}
                  </span>
                  <a href="/logout" class="button">Выйти</a>
              {% else %}
                  <a href="/login" class="button">Войти</a>
                  <a href="/choice_registration" class="button">Зарегистрироваться</a>
              {% endif %}
          </div>
      </div>
    </header>

    <!-- Основной контент -->
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Подвал сайта -->
    <footer class="footer">
        <p>&copy; 2024 JobSite. Все права защищены.</p>
    </footer>
  </div>
</body>
</html>
