{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <p>Мы всегда рады вашим обращениям! Если у вас есть вопросы о вакансиях, трудоустройстве или функционале нашего сайта, свяжитесь с нами — мы стремимся сделать использование нашего сервиса удобным и полезным для каждого пользователя.</p>
    <p><strong>Телефон:</strong> +7 (912) 233-95-38</p>
    <p><strong>Свяжитесь с нами:</strong> egor.master2017@gmail.com</p>
    <p><strong>Адрес:</strong> Екатеринбург, улица Бахчиванджи, 55А</p>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A97d70f74d720cae76f0fa56ede59eb9ba862a05cae986df3d6a667f3fce9f0cb&amp;source=constructor" width="100%" height="441" frameborder="0"></iframe>
    <h2>Мы ценим вашу обратную связь</h2>
    <p>Ваши отзывы и предложения помогают нам становиться лучше. Делитесь своими идеями, сообщайте о проблемах и предлагайте улучшения — это всегда ценно для нас. Мы стараемся ответить на каждое сообщение в течение 24 часов, и всегда готовы поддержать вас на пути к профессиональным успехам!</p>
{% endblock %}
