{% extends 'base.html' %}

{% block title %}Вход - JobSite{% endblock %}

{% block content %}
    <h2>Вход</h2>

    {% if user.is_authenticated %}
        <p class="message">Вы вошли как {{ user.email }}.</p>
    {% else %}
        <form method="post" class="unique-login-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }}  <!-- Явное отображение метки для email -->
                {{ form.email }}  <!-- Просто выводим поле email -->
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}  <!-- Явное отображение метки для пароля -->
                {{ form.password }}  <!-- Просто выводим поле password -->
            </div>
            <button type="submit">Войти</button>
        </form>
    {% endif %}
{% endblock %}

{% block user_info %}
    {% if user.is_authenticated %}
        <p>Вы вошли по почте <strong>{{ user.email }}</strong></p>
        <a href="/logout" class="button">Выйти</a>
    {% else %}
        <a href="/login" class="button">Войти</a>
        <a href="/registration" class="button">Зарегистрироваться</a>
    {% endif %}
{% endblock %}
