/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Шапка */
header {
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Распределение элементов по ширине */
    align-items: center; /* Выравнивание по центру по вертикали */
    position: relative; /* Устанавливаем относительное позиционирование */
}

header .nav-links {
    list-style: none;
    display: flex;
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
}

header .nav-links li {
    margin-left: 15px; /* Отступы между ссылками */
}

header .nav-links a {
    color: #fff;
    text-decoration: none;
}

header .nav-links a:hover {
    text-decoration: underline;
}

/* Информация о пользователе */
.user-info {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    right: 20px; /* Отступ от правого края */
    top: 10px; /* Отступ от верхнего края */
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    font-size: 0.9em; /* Уменьшаем размер шрифта */
}

.user-info p {
    margin: 0; /* Убираем отступы у параграфа */
    padding-right: 10px; /* Отступ справа для разделения */
}

.user-info a {
    color: #fff;
    margin-left: 10px; /* Отступ между информацией о пользователе и ссылкой "Выйти" */
}

/* Основной контент */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.vacancy-list {
    margin-top: 20px;
}

.vacancy-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.vacancy-item h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.vacancy-item p {
    margin: 5px 0;
}

/* Стили для формы регистрации */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выровнять элементы формы по левому краю */
    width: 100%; /* Задаем ширину формы 100% */
}

input, select {
    width: 100%; /* Сделать поля ввода шириной 100% */
    padding: 10px;
    margin: 10px 0; /* Отступы между полями */
    border: 1px solid #ced4da; /* Граница вокруг полей */
    border-radius: 5px; /* Скругленные углы */
    transition: border-color 0.3s; /* Плавный переход цвета границы */
}

input:focus, select:focus {
    border-color: #007BFF; /* Цвет границы при фокусе */
    outline: none; /* Убираем контур по умолчанию */
}

/* Подвал */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}
button {
    padding: 15px; /* Увеличиваем отступы для увеличения размера кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    width: 100%; /* Кнопка шириной 100% */
    margin-top: 10px; /* Отступ сверху */
    font-size: 16px; /* Увеличиваем размер шрифта для кнопки */
}

button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

/* styles.css */
.unique-login-form {
    display: flex;
    flex-direction: column;  /* Располагаем элементы в колонку */
    align-items: center;  /* Центрируем элементы по горизонтали */
    text-align: center;  /* Выровнять текст по центру, если это нужно */
}

.unique-login-form .form-group {
    display: flex;
    flex-direction: column;  /* Каждую метку и поле располагаем в колонку */
    align-items: flex-start;  /* Выровнять метки и поля по левому краю */
    margin-bottom: 15px;  /* Отступ между полями */
    width: 300px;  /* Ширина для всех полей и меток */
}

.unique-login-form label {
    margin-bottom: 5px;  /* Отступ между меткой и полем */
}

.unique-login-form input {
    width: 100%;  /* Поля будут занимать всю ширину родительского контейнера */
    padding: 10px;  /* Отступ внутри полей */
    border: 1px solid #ccc;  /* Граница для полей */
    border-radius: 4px;  /* Закругленные углы */
}

.unique-login-form button {
    width: 150px;  /* Установите ширину кнопки */
    padding: 10px;  /* Отступ внутри кнопки */
    background-color: #007BFF;  /* Цвет фона кнопки */
    color: white;  /* Цвет текста кнопки */
    border: none;  /* Убираем границы */
    border-radius: 4px;  /* Закругленные углы */
    cursor: pointer;  /* Курсор в виде руки */
}

.unique-login-form button:hover {
    background-color: #0056b3;  /* Цвет кнопки при наведении */
}

.amenities-list {
    text-align: left; /* Выровнять текст по левому краю */
    list-style-position: inside; /* Устанавливаем маркеры внутри списка */
}

.menu {
    display: none;
  }
  
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
  }
  .burger::before {
    top: 0;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #0056b3;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 300px;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none !important;
    }
  
    .menu {
      display: block;
    }
  }